.info {
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact p {
  margin-right: 40px;
}
.social {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.mail { grid-area: 1 / 1 / 2 / 2; }
.whatsapp { grid-area: 1 / 2 / 2 / 3; }
.instagram { grid-area: 1 / 3 / 2 / 4; }
.linkedin { grid-area: 1 / 4 / 2 / 5; }

.line {
  
  max-width: 1500px;
  width:1200px;
  height: 0px;
  border: 2px solid #ffffff;
  transform: rotate(180deg);
  margin: 0 auto
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}