.container{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.option{
    margin:0 20px;
    
}