.Title {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 25px;
  font-weight: 300;
  color: #f0f0f0;
  padding: 0px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
